/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    
}

#formulario {
    max-width: 600px;
    margin: 0 auto;
    background-color: #979595;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
}

input[type="url"],
input[type="text"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.1);
}

input[type="url"]:focus,
input[type="text"]:focus,
button:focus {
    outline: none;
    border-color: #4CAF50;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
