/* Reset de estilos padrão */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

/* h1 {
    text-align: center;
    color: #333;  
} */

#formulario {
    max-width: 600px;
    margin: 0 auto;
    background-color: #979595;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.1);
}

input[type="url"],
input[type="text"],
#addVilao{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.1);
}

input[type="url"]:focus,
input[type="text"]:focus,
#motivacao,
#addVilao{
    outline: none;
    border-color: #4CAF50;
}

#addVilao {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border: none;
    transition: background-color 0.3s ease;
}
.delete{
    background-color: green;
    color: white;
    cursor: pointer;
    outline: none;
    border-color:white;
    font-size: 18px;
    transition: background-color 0.2s ease;
    

}

button:hover {
    background-color:red;
}
.filme{
    font-family: Arial, sans-serif;
    width: 600px;
    background-color: rgb(157, 157, 157);
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    text-align: left;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.1);
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}
header{
    margin: 0 auto;
    display: block;
}
.imgfilme{
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1.1);
}